body, html {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#map .leaflet-popup-content-wrapper, 
#map .leaflet-popup-tip {
    background: #434343;
    opacity: .9;
}

#map .leaflet-popup-content-wrapper {
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#map .leaflet-popup-content {
    margin: 5px 10px;
}

.leaflet-popup-close-button {
    position: absolute;
    z-index: 5;
    background-position: 6px 6px;
    background-repeat: no-repeat;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 50% 50% 50% 50%;
    height: 22px;
    right: -4px;
    top: -4px;
    width: 22px;
}

.leaflet-popup-content {
    color: #fff;
}


.score {
    color: #f69156;
}

.iw {
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
}

.poi-details {
    padding-bottom: 20px;
}

.poi-details h4 {
    font-size: 20px;
    font-weight: bold;
}

.poi-details .rank {
    float: right;
}


